/* SITE DEFAULT STYLES */
/* SITE COLORS */
/* DARK BLUE:0c4472 */
/* LOGO BLUE: 0860A8 */
/* LIGHT BLUE: dce6f4 */
/* DARK GRAY:888888 */
/* LIGHT GRAY:cccccc */
/* ORANGE:feb62d */
body {margin-left: 5px;  margin-top: 5px; margin-right: 5px;background: #f2f9ff;}
body,td,p {font: 13px/normal arial,san-serif; color: #000000;}
table {border: 0;}
form { margin: 0;padding: 0;}
legend {  }
td input[type=text] { border: 1px solid #999999; }
input[type=submit], input[type=button], input[type=reset] { padding: 2px;color: #4c4c4c;border: 1px solid #999999;font-size: 12px;background: #FFFFFF; }
fieldset { border: 1px solid #999999;background: #FEFEFE;padding: 5px; }
fieldset input[type=text], input[type=password]  { padding: 2px;color: #4c4c4c;border: 1px solid #999999;font-size: 12px; }
fieldset input[type=image], input[type=radio] { padding: 2px;color: #4c4c4c;border: none;font-size: 12px; }
fieldset input[type=button] { padding: 0px; }
td input[type=button], input[type=submit], input[type=reset] { padding: 0px; }
td {text-align: left; vertical-align: middle;}
td.center {text-align: center; margin-left: auto; margin-right: auto;}
td.right {text-align: right;}
hr {color: #0860A8;}
h1 {font: bold 16px/normal arial,san-serif; color: #0c4472; margin-bottom:8px;}
h2 {font: bold 14px/normal arial,san-serif; color: #0c4472;}
h3 {font: bold 14px/normal arial,san-serif; color: #0c4472;}
a {font-family: arial,san-serif; color: #336791; text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {color: #000000;}
a:visited {color: #336791;}
a img { border: 0px; }
img{ border: 0px;}
/* What is this for? */
a.textmenu {font: bold 15px/normal arial,san-serif; color: #0c4472; text-decoration: none;}
a.textmenu:hover {text-decoration: underline;}
a.textmenu:active {color: #feb62d;}
a.textmenu:visited {color: #990000;}

/* TABLE OF CONTENTS */
a.contents {font: 13px/normal arial,san-serif; color:  #0c4472; text-decoration: none;}
a.contents:hover {text-decoration: underline;}
a.contents:active {color: #feb62d;}
a.contents:visited {color: #880000;}

/* FONTS AND LINKS */
/* For the nPost menubar and search bar at the top of each page */
font.menubar {font: bold 11px/normal arial, san-serif; color: #000000;}
a.menubar {font: bold 11px/normal arial,san-serif; color: #000000; text-decoration: underline;}
a.menubar:hover {color: #cccccc;}
a.menubar:active {color: #cccccc; text-decoration: none;}
a.menubar:visited {color: #000000;}
font.searchbar {font: bold 11px/normal arial,san-serif; color: #ffffff;}
font.searchbarcat {font: bold 11px/normal arial,san-serif; color: #ffffff}
font.searchbarsel {font: bold 11px/normal arial,san-serif; color: #000000;}
a.searchbar {font: bold 11px/normal arial,san-serif; color: #ffffff; text-decoration: none;}
a.searchbar:hover {color: #cccccc; text-decoration: none;}

/* For panels (boxes with colored title bars) */
font.paneltext {font: 12px/normal arial,san-serif; color: #000000;}
font.paneltextblue {font: 12px/normal arial,san-serif; color: #0c4472;}

/* For generic text entries (can this replace panel text?) */
/* Notes: */
/*  - font.text corresponds to the default set at the body and table level above */
/*  - this set of fonts is intentionaly NOT FIXED SIZE so that the users can */
/*    resize it based on their preference */
font.graytext {font: 13px/normal arial,san-serif; color: #888888;}
font.orangetext {font: 13px/normal arial,san-serif; color: #feb62d;}
font.redtext {font: 13px/normal arial,san-serif; color: #880000;}
font.bluetext {font: 13px/normal arial,san-serif; color: #2f7bba;}
font.whitetext {font: 13px/normal arial,san-serif; color: #ffffff;}
font.tinytext {font: 9px/normal arial,san-serif; color: #000000;}
font.tinygraytext {font: 9px/normal arial,san-serif; color: #888888;}
font.smalltext {font: 11px/normal arial,san-serif; color: #000000;}
font.smallgraytext {font: 11px/normal arial,san-serif; color: #888888;}
font.smallorangetext {font: 11px/normal arial,san-serif; color: #feb62d;}
font.smallredtext {font: 11px/normal arial,san-serif; color: #880000;}
font.smallbluetext {font: 11px/normal arial,san-serif; color: #2f7bba;}
font.smallwhitetext {font: 11px/normal arial,san-serif; color: #ffffff;}
font.bigtext {font: 15px/normal arial,san-serif; color: #000000;}
font.biggraytext {font: 15px/normal arial,san-serif; color: #888888;}
font.bigorangetext {font: 15px/normal arial,san-serif; color: #feb62d;}
font.bigredtext {font: 15px/normal arial,san-serif; color: #880000;}
font.bigbluetext {font: 15px/normal arial,san-serif; color: #2f7bba;}
font.bigwhitetext {font: 15px/normal arial,san-serif; color: #ffffff;}

/* For all form field legends and labels (and an asterisk for marking required fields) */
td.formlabel {text-align:right; vertical-align: top;}
td.formfield {text-align:left; vertical-align: top;}
legend {font: bold 14px/normal arial,san-serif; color: #000000;}
font.field {font: 13px/normal arial,san-serif; color: #0c4472;}
font.reqfield {font: bold 13px/normal arial,san-serif; color: #0c4472;}
font.nafield {font: 13px/normal arial,san-serif; color: #cccccc;}
font.option {font: 13px/normal arial,san-serif; color: #000000;}
font.note {font: 13px/normal arial,san-serif; color: #880000;}
a.field:link {font: 13px/normal arial,san-serif; color:  #336791; text-decoration: none;}
a.field:hover {font: 13px/normal arial,san-serif; color: #336791; text-decoration: underline;}
a.field:active {font: 13px/normal arial,san-serif; color: #000000; text-decoration: none;}
a.field:visited {font: 13px/normal arial,san-serif; color: #0000aa; text-decoration: underline;}

/* For displaying interview questions and answers */
font.question {font: bold 13px/normal arial,san-serif; color: #000000;}
font.answer {font: 13px/normal arial,san-serif; color: #000000;}

/* For highlighting search terms in pages */
/* font.searchterms {color: #000000; background:yellow; mso-highlight:yellow;} */
font.searchterms {color: #000000; background:yellow;}

/* For formatting error messages and the footer on each page */
font.error {font: 16px/normal arial,san-serif; color: #ff0000;}
font.footer {font-size: 12px;}

/* TABLES */
/* Main menu layout table */
table.mainmenu {border: 0; margin-top: 0px; margin-bottom: 0px; width: 100%; height: 100%;}
table.mainmenu td {padding: 0;}

/* Page layout tables */
table.pagelayout {table-layout: fixed; margin-top: 0px; width: 880px; height: 100%;vertical-align: top;}
table.pagelayout td {padding:5px 5px 0px 5px;vertical-align: top;vertical-align: top;}
table.pagelayoutwide {table-layout: fixed; margin-top: 0px; width: 925px; height: 100%;}
table.pagelayoutwide td {padding: 5px 5px 0px 5px;vertical-align: top;}

/* Page body layout table */
table.pagebody {table-layout: fixed; margin-top: 0; width: 100%; height: 100%;}
table.pagebody td {padding: 3px;}

/* Banner layout table */
table.banner {border: 0; margin-left: auto; margin-right: auto; width: 720px;}
table.banner td {padding: 0;}

/* Side menu table */
table.sidemenu {border: 1px solid #CCCCCC; margin: 0; width: 180px;}
table.sidemenu th {font: bold 11px/normal arial,san-serif; color: #0c4472; text-align: left; padding-top: 3px; padding-bottom:3px; padding-left: 15px; background-color: #FAFAFA;}
table.sidemenu th.main {font: bold 13px/normal arial,san-serif; color: #880000; text-align: left; padding-top: 6px; padding-left: 10px;}
table.sidemenu th a:link {color: #0c4472; text-decoration: none;}
table.sidemenu th a:hover {color: #880000; text-decoration: none;}
table.sidemenu th a:active {color: #880000; text-decoration: none;}
table.sidemenu th a:visited {color: #0c4472; text-decoration: none;}
table.sidemenu td {font: 11px/normal arial,san-serif; color: #000000; padding-top: 3px; padding-bottom:3px; padding-left: 25px; background-color: #dce6f4;}
table.sidemenu td a:link {color: #0c4472; text-decoration: underline;}
table.sidemenu td a:hover {color: #880000; text-decoration: underline;}
table.sidemenu td a:active {color: #880000; text-decoration: underline;}
table.sidemenu td a:visited {color: #0c4472; text-decoration: underline;}

/* Panel outline (boxes with colored borders) */
table.panel {border: 1px solid #0860A8; width: 100%;}
table.panel th {font: bold 12px/normal arial,san-serif; color: #ffffff; text-align:left; background-color:#0860A8; padding:3px;}
table.panel th.right {text-align:right;}
table.panel th.big {font: bold 18px/normal arial,san-serif; color: #ffffff; text-align:left; background-color:#0860A8; padding: 5px;}
table.panel th a:link {font: bold 11px/normal arial,san-serif; color: #ffffff;}
table.panel th a:hover {font: bold 11px/normal arial,san-serif; color: #ffffff; text-decoration: underline;}
table.panel th a:active {font: bold 11px/normal arial,san-serif; color: #ffffff;}
table.panel th a:visited {font: bold 11px/normal arial,san-serif; color: #ffffff;}
table.panel td {padding: 5px;}

/* Panel contents */
table.innerpanel {border: 0px; width: 100%;}
table.innerpanel th {font: bold 14px/normal arial,san-serif; color: #0c4472; text-align: left; padding: 0;}
table.innerpanel th.right {text-align: right;}
table.innerpanel td {font: 12px/normal arial,san-serif; color: #000000; padding: 0;}
table.innerpanel td.right {text-align: right;}
table.innerpanel td.center {text-align: center;}
table.innerpanel td a:link {font: bold 11px/normal arial,san-serif; color: #0c4472;}
table.innerpanel td a:hover {font: bold 11px/normal arial,san-serif; color: #0c4472; text-decoration: underline;}
table.innerpanel td a:active {font: bold 11px/normal arial,san-serif; color: #0c4472;}
table.innerpanel td a:visited {font: bold 11px/normal arial,san-serif; color: #0c4472;}

/* Panel with a narrow border (sized-to-fit) */
table.borderpanel {border: 1px solid #0860A8;}
table.borderpanel th {font: bold 13px/normal arial,san-serif; color: #ffffff; text-align:left; background-color:#0860A8; padding:3px;}
table.borderpanel td {padding: 3px;}

/* Define characteristics of a panel with no border (boxes on My Account page with no borders) */
table.noborderpanel {border: 0px; width: 100%;}
table.noborderpanel th {font: bold 13px/normal arial,san-serif; color: #ffffff; background-color:#0860A8; text-align:left; padding:3px;}
table.noborderpanel th a:link {font: bold 13px/normal arial,san-serif; color: #ffffff;}
table.noborderpanel th a:hover {font: bold 13px/normal arial,san-serif; color: #ffffff; text-decoration: underline;}
table.noborderpanel th a:active {font: bold 13px/normal arial,san-serif; color: #ffffff;}
table.noborderpanel th a:visited {font: bold 13px/normal arial,san-serif; color: #ffffff;}
table.noborderpanel td {padding: 3px;}

/* Tables showing lists */
table.list {width: 100%;}
table.list th {font: bold 12px/normal arial,san-serif; color: #FFFFFF; background-color: #2f7bba; text-align: left; padding:3px;}
table.list th.right {text-align: right;}
table.list th a:link {font: bold 13px/normal arial,san-serif; color: #FFFFFF; text-decoration: underline;}
table.list th a:hover {font: bold 13px/normal arial,san-serif; color: #880000; text-decoration: underline;}
table.list th a:active {font: bold 13px/normal arial,san-serif; color: #880000; text-decoration: underline;}
table.list th a:visited {font: bold 13px/normal arial,san-serif; color: #0c4472; text-decoration: underline;}
table.list td {font: 12px/normal arial,san-serif; color: #000000; background-color: #ffffff; padding:3px;}
table.list td a:link {font: 12px/normal arial,san-serif; color: #0c4472; text-decoration: none;}
table.list td a:hover {font: 12px/normal arial,san-serif; color: #880000; text-decoration: underline;}
table.list td a:active {font: 12px/normal arial,san-serif; color: #880000; text-decoration: none;}
table.list td a:visited {font: 12px/normal arial,san-serif; color: #0c4472; text-decoration: none;}
table.list tr.top td {background-color: #0c4472;}
table.list tr.btm td {background-color: #eaeaea; text-align: center;}
table.list tr.bg0 td {background-color: #ffffff;}
table.list tr.bg1 td {background-color: #dce6f4;}
table.list tr.hlt td {background-color: #feb62d;}

/* Tables showing help lists */
table.help {border: 0px; }
table.help th {font: bold 15px/normal arial,san-serif; color: #0c4472; text-align: left; padding-top: 10px; padding-left: 10px;}
table.help th.title {font: bold 18px/normal arial,san-serif; color: #0c4472; text-align: left; padding-top: 0px;}
table.help th a:link {color: #0c4472; text-decoration: underline;}
table.help th a:hover {color: #880000; text-decoration: underline;}
table.help th a:active {color: #880000; text-decoration: underline;}
table.help th a:visited {color: #0c4472; text-decoration: underline;}
table.help td {font: 13px/normal arial,san-serif; color: #000000; padding-left: 10px;}
table.help td a:link {color: #0c4472; text-decoration: none;}
table.help td a:hover {color: #880000; text-decoration: underline;}
table.help td a:active {color: #880000; text-decoration: none;}
table.help td a:visited {color: #0c4472; text-decoration: none;}

/*  nPost 2.0 STYLES */

/* ALL AROUND */
.align-left { text-align: left; }
.align-middle { vertical-align: middle; }
.align-center { text-align: center;padding: 4px; }
.align-right { text-align: right;padding: 4px; }
.float-right { float: right; }
.float-left { float: left; }
.WhiteBG { background: #FFFFFF; }
.OffWhiteBG { background: #fafafa; }
.NearWhiteBG { background: #FEFEFE; }
a.black { color: #000000; }
a.white { color: #FFFFFF; }
.DarkBlue { color: #11395a; }
.MedPad { padding: 5px; }
.LargePad { padding: 10px; }
.TopPad { padding: 1px 5px 6px 0px; }
.MediumFont { font-size: 14px; }
.LargeFont { font-size: 18px;line-height: 24px; }
.ImpText { font-weight: bold;color: #2f7bba;  }
.StepOff { padding-bottom: 15px; }
.StepFrom { padding-top: 10px; }
.Bold { font-weight: bold;}
.REdge { padding: 0px 125px 0px 125px; }
.Gray { color: #555555; }
.clear { clear: both; }

/* MAIN BODY */
#PageLayout { width: 1001px;margin: 0 auto;background: url('/images/body_bg.gif'); }
#PageContainer { width: 995px;margin: 0px 3px 0px 3px;background: #f0f0f0;border-bottom: 1px solid #fafafa; }

/* HEADER */
#MenuHeader { width: 1001px;margin: 0px auto 0px auto;padding: 0px; }
#MenuHeader div { text-align: left; }
#MenuHeader a { padding-left: 1px; }

/* NAV MENU */
#NavLinks { float: right;padding: 67px 3px 0px 0px;height: 26px; }
#Logo { text-align: left;padding: 5px 0px 5px 25px;height: 83px; }
#Toolbar { background: url('/images/menu_bg_shadow.gif');padding: 0px 3px 0px 3px;width: 995px; }
#ToolbarOuterContainer { background: url('/images/menu_bg.gif') repeat-x;padding: 0px;width: 995px; }
#ToolbarInnerContainer { background: url('/images/menu_l.gif') left top no-repeat;height: 43px;padding: 0px;width: 995px; }
#Search { padding: 6px 10px 0px 0px;float: right; }
#Search img, input, span { vertical-align: middle; }
#Search span { font-size: 16px;color: #FFFFFF; }
.InputArea { padding-bottom: 10px; }
.InputArea img, input, span { vertical-align: middle; }
.InputArea span { font-size: 16px;color: #FFFFFF; }
.InputBox { border-top: 2px solid #124f83;border-bottom: 2px solid #124f83;border-right: none;border-left: none;padding: 5px 4px 3px 4px;height: 20px;background: url('/images/search_bg.gif') repeat-x;margin:0px;vertical-align: middle;width: 265px;font-size: 14px;color: #242424; }
.InputBoxFull { border-top: 2px solid #124f83;border-bottom: 2px solid #124f83;border-right: none;border-left: none;padding: 5px 4px 3px 4px;height: 20px;background: url('/images/search_bg.gif') repeat-x;width: 465px;font-size: 14px;color: #242424; }
#ToolbarActions { padding-top:6px; }
#ToolbarActions img { padding-left: 10px; }
.PostJobsImg { position: relative;bottom: 60px;left: 625px; }

/* LATEST INTERVIEWS */
.IntImage { width: 50px;height: 50px;padding-right: 10px; }
.IBg0 { background: #f7f7f7; }
.IBg0 a { color: #000000; }
.IBg1 { background: #fefefe; }
.IBg1 a { color: #000000; }

/* WIDGET */
.WidgetNext { vertical-top: top;font-size: 10px; }

/* JOB LIST */
.Bg0 { padding: 5px;background: #FEFEFE; }
.Bg1 { padding: 5px;background: #d1e8fb; }
.Bg0 a { color: #000000; }
.Bg1 a { color: #000000; }
.T1F { width: 378px;float: left;overflow: hidden; }
.T1 { width: 358px;float: left;overflow: hidden; }
.T2 { width: 149px;float: left;overflow: hidden; }
.T3 { width: 235px;float: left;overflow: hidden; }
.T4 { width: 185px;overflow: hidden; }
.C1F { width: 378px;font-weight: bold;padding-left: 2px;float: left;overflow: hidden; }
.C1 { width: 358px;font-weight: bold;padding-left: 2px;float: left;overflow: hidden; }
.C2 { width: 149px;padding-left: 2px;float: left;overflow: hidden; }
.C3 { width: 240px;float: left;overflow: hidden; }
.C4 { width: 180px;overflow: hidden; }
.ListTitle { width: 892px;margin: 0px auto;padding-top: 27px; }
.Highlight { padding: 5px;background: #595959;color: #FFFFFF; }
.Highlight a { color: #FFFFFF; }

/* BANNER */
#BannerContainer { background: url('/images/welcome.gif');height: 158px; }
#BannerText { padding: 77px 120px 0px 120px;text-align: left;color: #FFFFFF;font: 14px Lucida Grande, Arial;line-height: 28px; }
#BannerContainerSmall { background: url('/images/listing_message.gif');height: 101px; }
#BannerTextSmall { padding: 23px 120px 0px 135px;text-align: left;color: #FFFFFF;font: 14px Lucida Grande, Arial;line-height: 28px; }

/*  INTERVIEW */
.IntInfoCont { border-bottom: 1px solid #f4f4f4; }
.IntInfo1 { width: 515px;margin: 0px 20px 0px 5px;min-height: 205px; }
.IntInfo2 { width: 515px;margin: 0px 20px 0px 5px; }
.IntImageFull { border-right: 1px solid #F0F0F0;border-bottom: 1px solid #F0F0F0;margin: 2px 0px 0px 10px;position: relative;left: 4px;height: 200px;width: 150px; }
.IntSummary { line-height: 20px;position: relative;bottom: 5px;padding-top: 5px; }
.IntRateCont { height: 35px; }
.IntQCont { padding: 0px 5px 20px 5px; }
.IntACont { padding-left: 15px; }
.IntFootCont { height: 24px; }
.BoxInterviewImage { padding-right: 5px;width: 30px;height: 30px; }

/* FOOTER */
.FooterInfoBody { background: url('/images/footer_info_bg.gif') center repeat-y;width: 947px;margin: 0px auto; }
.FooterInfoCont { background: url('/images/footer_info_bot.gif') bottom center no-repeat; }
.FooterInfo { background: url('/images/footer_info_top.gif') top center no-repeat; }
.FooterInfoMargin { width: 290px;margin-right: 1px;padding: 7px 10px 10px 10px;text-align: left; }
.FooterInfoNoMargin { width: 295px;padding: 7px 10px 10px 10px;text-align: left; }
.InfoText { color: #555555;line-height: 18px; }

/* JOB LISTINGS */
.JLT { padding: 8px;background: #d1e8fb;color: #000000;font-size: 16px;font-weight: bold; }
.JLB { padding: 8px;background: #d1e8fb; }
.JL { padding: 8px;background: #fefefe; }
.JLBody { padding: 14px 18px 14px 18px;font-size: 12px;line-height: 22px;background: #fefefe; }

/* BODY */
.BodyContainer { width: 995px;background: url('/images/body_fade.gif') top repeat-x;min-height: 500px;border-top: 1px solid #e4e8ec; }
#LeftPanel {  width: 535px;margin: 27px 0px 37px 30px;display: block; }
#LeftPanelItem { width: 535px;margin: 5px 0px 37px 30px;display: block;min-height: 950px; }
#RightPanel { width: 350px;margin: 27px 30px 0px 0px;display: block;float: right; }

/* FOOTER */
#Footer { width: 1001px;margin: 0 auto;background: url('/images/footer_bg.gif'); }
#FooterContainer { background: url('/images/footer_end.gif') bottom no-repeat;padding: 15px;text-align: center;font: 12px arial; }

/* XLARGEBOX */
.XL { background: url('/images/Cont_XL_BG.gif') repeat-y;width: 900px;margin: 10px auto 27px auto; }
.XL img, input, span { vertical-align: middle; }
.XLContainer { background: url('/images/Cont_XL_B.gif') bottom no-repeat; }
.XLTitle { background: url('/images/Cont_XL_T.gif') no-repeat;height: 24px;padding: 9px 11px 0px 11px;color: #FFFFFF;font-weight: bold;text-align: left;margin: 0px;font-size: 14px; }
.XLTitle a { color: #FFFFFF; }
.XLBody { padding: 0px 4px 8px 4px;margin: 0px;color: #353535;text-align: left;line-height: 18px;color: #1c1c1c; }

/* LARGEBLUEBOX */
.LB { background: url('/images/Cont_LB_BG.gif') repeat-y;width: 535px;margin-bottom: 27px; }
.LB img, input, span { vertical-align: middle;border: 0px;margin: 0px; }
.LBContainer { background: url('/images/Cont_LB_B.gif') bottom no-repeat; }
.LBTitle { background: url('/images/Cont_LB_T.gif') no-repeat;height: 24px;padding: 8px 11px 0px 11px;color: #FFFFFF;font-weight: bold;text-align: left;margin: 0px; }
.LBTitle a { color: #FFFFFF; }
.LBBody { padding: 0px 4px 8px 4px;margin: 0px;color: #353535;text-align: left;line-height: 18px;color: #1c1c1c;font-size: 14px; }

/* LARGEBOX */
.L { background: url('/images/Cont_L_BG.gif') repeat-y;width: 535px;margin-bottom: 27px; }
.L img, input, span { vertical-align: middle;border: 0px;margin: 0px; }
.LContainer { background: url('/images/Cont_L_B.gif') bottom no-repeat; }
.LBlogTitle { background: url('/images/Cont_L_T.gif') no-repeat;height: 16px;padding: 6px 11px 11px 11px;color: #FFFFFF;font-weight: bold;text-align: left;margin: 0px; }
.LBlogTitle a { color: #FFFFFF;text-decoration: underline; }
.LTitle { background: url('/images/Cont_L_T.gif') no-repeat;height: 22px;padding: 11px 11px 0px 11px;color: #FFFFFF;font-weight: bold;text-align: left;margin: 0px; }
.LTitle a { color: #FFFFFF; }
.LBody { padding: 0px 4px 8px 4px;margin: 0px;text-align: left;line-height: 18px;color: #1c1c1c; }
.LBlogBody { padding: 5px 4px 8px 4px;margin: 0px 0px 0px 0px;background: #FEFEFE;text-align: left;line-height: 18px;color: #1c1c1c; }
.LargeFoot { width: 515px;margin: 0px auto; }


/* MEDIUMBOX */
.M { background: url('/images/Cont_M_BG.gif') repeat-y;width: 350px;margin-bottom: 27px; }
.M img, input, span { vertical-align: middle; }
.MContainer { background: url('/images/Cont_M_B.gif') bottom no-repeat; }
.MTitle { background: url('/images/Cont_M_T.gif') no-repeat;height: 22px;padding: 11px 11px 0px 11px;color: #FFFFFF;font-weight: bold;text-align: left;margin: 0px; }
.MBody { padding: 6px 12px 6px 12px;margin: 0px;color: #353535;text-align: left;line-height: 18px; }

/* SMALLBOX */
.S { background: url('/images/Cont_S_BG.gif') repeat-y;width: 206px;margin-bottom: 27px; }
.S img, input, span { vertical-align: middle; }
.SContainer { background: url('/images/Cont_S_B.gif') bottom no-repeat; }
.STitle { background: url('/images/Cont_S_T.gif') no-repeat;height: 22px;padding: 11px 11px 0px 11px;color: #FFFFFF;font-weight: bold;text-align: left;margin: 0px; }
.SCTitle { background: url('/images/Cont_S_T.gif') no-repeat;height: 22px;padding: 11px 11px 0px 11px;color: #FFFFFF;font-weight: bold;text-align: center;margin: 0px; }
.SBody { padding: 0px 4px 12px 4px;margin: 0px;color: #353535;text-align: left;line-height: 16px; }


/* CUSTOM STUFF */
.InputArea label {font-size:1.2em;line-height:2em;vertical-align:middle;}
table.attrlist tr{text-align:right;}
table.attrlist td{font-size:0.8em;}
