
<div class="ListTitle">
    <div class="float-right">
        <b>1-20</b> out of <b>223</b> Interviews					 	
    </div>
    <div>
        <b>Sorted by:</b> Date (223 results)
    </div>

</div>
<div class="XL">
    <div class="XLContainer">
        <div class="XLTitle">
        <span class="T1"><a href="./interviews.jsp?searchTerms=&sortField=InteeLastName&sortOrder=ASC">Interview</a>&nbsp; <a href="./interviews.jsp?sortField=InteeLastName&sortOrder=ASC"><img src="./images/arrowupblue.gif" border="0" alt="Sort Ascending" /></a><img src="./images/dot.gif" width="4" border="0" /><a href="./interviews.jsp?sortField=InteeLastName&sortOrder=DESC"><img src="./images/arrowdownblue.gif" border="0" alt="Sort Descending" /></a></span>
        <span class="T2"><a href="./interviews.jsp?searchTerms=&sortField=Company&sortOrder=ASC">Company</a>&nbsp; <a href="./interviews.jsp?sortField=Company&sortOrder=ASC"><img src="./images/arrowupblue.gif" border="0" alt="Sort Ascending" /></a><img src="./images/dot.gif" width="4" border="0" /><a href="./interviews.jsp?sortField=Company&sortOrder=DESC"><img src="./images/arrowdownblue.gif" border="0" alt="Sort Descending" /></a></span>
        <span class="T3"><a href="./interviews.jsp?searchTerms=&sortField=City&sortOrder=ASC">Location</a>&nbsp; <a href="./interviews.jsp?sortField=City&sortOrder=ASC"><img src="./images/arrowupblue.gif" border="0" alt="Sort Ascending" /></a><img src="./images/dot.gif" width="4" border="0" /><a href="./interviews.jsp?sortField=City&sortOrder=DESC"><img src="./images/arrowdownblue.gif" border="0" alt="Sort Descending" /></a></span>						
        <span class="T4"><a href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=ASC">Date</a>&nbsp; <a href="./interviews.jsp?sortField=Date&sortOrder=ASC"><img src="./images/arrowupblue.gif" border="0" alt="Sort Ascending" /></a><img src="./images/dot.gif" width="4" border="0" /><a href="./interviews.jsp?sortField=Date&sortOrder=DESC"><img src="./images/arrowdownbluefill.gif" border="0" alt="Sort Descending" /></a></span>

        </div>
        <div class="XLBody">
            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00244';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00244">Dave Rice</a></span>
                    <span class="C2">Dipiti</span>
                    <span class="C3">Seattle, WA</span>						
                    <span class="C4">May 6, 2008</span>

                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00243';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00243">Jonathan Sposato</a></span>
                    <span class="C2">Picnik</span>
                    <span class="C3">Seattle, WA</span>						
                    <span class="C4">May 5, 2008</span>
                </div>

            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00242';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00242">Charles Seybold</a></span>
                    <span class="C2">LiquidPlanner</span>
                    <span class="C3">Seattle, WA</span>						
                    <span class="C4">Apr 30, 2008</span>
                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00241';">

                    <span class="C1"><a href="./interview.jsp?intID=INT00241">Christian Chabot</a></span>
                    <span class="C2">Tableau Software</span>
                    <span class="C3">Seattle, WA</span>						
                    <span class="C4">Apr 22, 2008</span>
                </div>
            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00240';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00240">James Siminoff</a></span>

                    <span class="C2">SimulScribe</span>
                    <span class="C3">New York, NY</span>						
                    <span class="C4">Apr 21, 2008</span>
                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00239';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00239">Mark Mader</a></span>
                    <span class="C2">SmartSheet</span>

                    <span class="C3">Seattle, WA</span>						
                    <span class="C4">Apr 15, 2008</span>
                </div>
            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00236';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00236">Julia Johnston & Ariel McNichol</a></span>
                    <span class="C2">mEgo</span>
                    <span class="C3">Los Angeles, CA</span>						
                    <span class="C4">Apr 14, 2008</span>

                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00238';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00238">Vipin Jain</a></span>
                    <span class="C2">Retrevo</span>
                    <span class="C3"> Sunnyvale, CA</span>						
                    <span class="C4">Apr 9, 2008</span>
                </div>

            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00237';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00237">Tony Wong</a></span>
                    <span class="C2">ZiiTrend</span>
                    <span class="C3">Vancouver, Canada</span>						
                    <span class="C4">Apr 8, 2008</span>
                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00235';">

                    <span class="C1"><a href="./interview.jsp?intID=INT00235">Ron Yekutiel</a></span>
                    <span class="C2">Kaltura</span>
                    <span class="C3">New York, NY</span>						
                    <span class="C4">Apr 7, 2008</span>
                </div>
            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00234';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00234">Steven Goh</a></span>

                    <span class="C2">Mig33</span>
                    <span class="C3">San Francisco, CA</span>						
                    <span class="C4">Apr 4, 2008</span>
                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00233';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00233">Guillaume Cohen</a></span>
                    <span class="C2">Veodia</span>

                    <span class="C3">Palo Alto, CA</span>						
                    <span class="C4">Mar 24, 2008</span>
                </div>
            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00232';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00232">Daniel Bernstein</a></span>
                    <span class="C2">Sandlot Games</span>
                    <span class="C3">Seattle, WA</span>						
                    <span class="C4">Mar 19, 2008</span>

                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00230';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00230">Gregg Brockway</a></span>
                    <span class="C2">TripIt</span>
                    <span class="C3">San Francisco, CA</span>						
                    <span class="C4">Mar 18, 2008</span>
                </div>

            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00231';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00231">Daniel Ha</a></span>
                    <span class="C2">Disqus</span>
                    <span class="C3">San Francisco, CA</span>						
                    <span class="C4">Mar 18, 2008</span>
                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00228';">

                    <span class="C1"><a href="./interview.jsp?intID=INT00228">Anish Kapoor</a></span>
                    <span class="C2">Yuuguu</span>
                    <span class="C3">Manchester, United Kingdom</span>						
                    <span class="C4">Feb 26, 2008</span>
                </div>
            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00229';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00229">Andrew Weinreich</a></span>

                    <span class="C2">MeetMoi</span>
                    <span class="C3">New York, NY</span>						
                    <span class="C4">Feb 25, 2008</span>
                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00226';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00226">Lars Hinrichs</a></span>
                    <span class="C2">Xing</span>

                    <span class="C3">Hamburg, Germany</span>						
                    <span class="C4">Feb 20, 2008</span>
                </div>
            
                <div class="Bg0" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg0';" onClick="document.location.href = './interview.jsp?intID=INT00227';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00227">Alex Algard</a></span>
                    <span class="C2">WhitePages.com</span>
                    <span class="C3">Seattle, WA</span>						
                    <span class="C4">Feb 20, 2008</span>

                </div>
            
                <div class="Bg1" onmouseover="this.className = 'Highlight';" onmouseout="this.className = 'Bg1';" onClick="document.location.href = './interview.jsp?intID=INT00225';">
                    <span class="C1"><a href="./interview.jsp?intID=INT00225">Mark Britton</a></span>
                    <span class="C2">Avvo</span>
                    <span class="C3">Seattle, WA</span>						
                    <span class="C4">Jan 22, 2008</span>
                </div>

            
            <div class="MedPad">
                <div class="align-center">
<font class="">1 </font>&nbsp; 
<a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=20&displayCount=20">2</a> &nbsp; 
<a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=40&displayCount=20">3</a> &nbsp; 
<a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=60&displayCount=20">4</a> &nbsp; 
<a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=80&displayCount=20">5</a> &nbsp; 

<a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=100&displayCount=20">6</a> &nbsp; 
<a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=120&displayCount=20">7</a> &nbsp; 
<a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=140&displayCount=20">8</a> &nbsp; 
<a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=160&displayCount=20">9</a> &nbsp; 
<a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=180&displayCount=20">10</a> &nbsp;  &nbsp; <a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=20&displayCount=20">NEXT --></a> &nbsp; &nbsp; <a class="" href="./interviews.jsp?searchTerms=&sortField=Date&sortOrder=DESC&currentIndex=-1&displayCount=20">SHOW ALL</a></div>

            </div>
        </div>
    </div>
</div>
</div>
		</div>
		<br>
		<div class="clear"></div>
	</div>