<% toolbar do -%>
 [CREATE PROFILE]
 [LIST DEVELOPERS]
<% end -%>

<% layout do -%>
  <% body do -%>
    <% banner do -%>
      Becoming a nProv developer can be a rich and rewarding experience. To find out how you can become an nProv developer
      please read through the information provided on this page before creating your developer profile. If you have
      questions, or would like to talk with other developers you can reach us at #nprov on the Freenode IRC network.
    <% end -%>
      
      <% panel :size => 'XL', :title => 'Developer Information' do -%>
          <div class="MedPad OffWhiteBG">
            <h2>Requirements</h2>
            <p>To maintain a stable and secure platform while allowing continued development by hundreds of supporters,
               all developers are required to follow some simple guidelines for both the protection of the project and users
               of the products which we produce.</p>
            
            <h2>Pledging Procedure</h2>
            <p>When a monetary pledge is made, it is placed in a developer funding account and the pledge becomes 'Active'.
               To receive the pledge for your contribution to the project, you must request assignment of the pledge, then
               complete the work in a project branch.  When development is complete, it will be reviewed by the core team,
               and be either accepted or rejected based on the quality of work and standards set forth in the code review
               addendum. Once your feature has been successfully committed to the development branch you will by granted
               the fully pledged amount by either check or paypal.</p>
            
            <h2>Quality Assurance</h2>
            <p>Any code which is to be committed to nProv project must be reviewed and accepted by the core team before
               any authorization to commit the updates will be granted. Along with manual review, we also require that
               all development be well documented and be provided with integration tests to assure the stability of other
               features of the products.</p>
            
            <h2>Branching and Merging</h2>
            <p>Only core members will have the authorization to commit changes to the latest developer release. All changes
               and updates should be created in a separate branch of the project and referenced for review.</p>
               
            <h2>Insults, Flaming, and Malignancy</h2>
            <p>As this is an open-source project with hundred of contributors, there will be people whom you may not get
               along with. This is to be expected, and should always be handled in a professional manner. Anyone that is
               caught insulting, bullying, or applying any other form of ignorance such as racial slurs against others,
               or found to intentionally determent the project will be reprimanded and will have their developer account
               permanently revoked and be publicly humiliated.</p>
          </div>
      <% end -%>
      
  <% end -%>
<% end -%>